
:root{
    --primary: #005aa8;
    --danger: #FF0000;
    --white: #FFFFFF;
    --warning:  #ffe600;
    --success: #00ad26;
    --info: #009ac9;   
    --black: #000;
}



p {
    font-family: 'Times New Roman', Times, serif;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.dark{
    color: var(--white); 
}

.container{
  background-color: #201E2B;
  padding: 100px 100px 100px 100px;
}

.container-content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: -100px;
}

.card {
    background: linear-gradient( #2C2C44 50%,#34364F 50%);
    background-color: #2C2C44;
    height: 230px;
    width: 250px; /* ancho de la card */
    border-radius: 16px; /* border de la card */
    overflow: hidden; /* toda la card con el fondo de arriba se pone con bordes redondeados*/
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7)  ; /*eje de x, eje de y ,degradacion,  color*/
}

.card h3{
    font-size: 120px;
    font-weight: 1000;
    margin:  70px;
    color: #DB506F;
    font-family: 'Red Hat Text', sans-serif;
}

.content, .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}


.contenido, h3 {
    color: #54546F;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0 90px;
    letter-spacing: 4pt;
}

h1{
    color: #fff;
    font-size: 20px;
    padding: 2rem;
    letter-spacing: 5pt;
    font-family: 'Red Hat Text', sans-serif;
}

h3{
    color: #fff;
    font-family: 'Red Hat Text', sans-serif;
}

li {
    list-style: none; /*sacarle los puntos en negro*/
}


/* Clases de alineamiento*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}



.img-main { 

    height: 20%;
    margin-top: -290px;
}

.img-fluid {
    width: 100%;
    height: 50%;
}
.footer-content {
    background-color: #231C2B;
    margin-top: -200px;
}

.iconos {
    background-color: #30243A;
    border: none;
    margin-top: -120px;
}

.iconos img{

    margin: 0 20px;
}


.iconos img:hover {
    background-color: #DB506F;
}